html {
    background-color: azure;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    display: flex;
    width: 55%;
    height: auto;
    margin: 1%;
}

h1 {
    position: fixed;
    width: 100%;
    background-color: antiquewhite;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Lobster Two', cursive;
    font-size: 3em;
    top: 0;
    margin-bottom: 2%;
    box-shadow: 2px 2px 4px #000000;
}

p {
    font-family: 'Quicksand', sans-serif;
}

span {
    font-weight: bold;
    font-style: italic;
}

/* Setting the properties for the main wrapper element */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 9% 2% 2%;
    width: 90%;
    background-color: antiquewhite;
    padding-bottom: 1%;
}

/* This is the styling properties for the first painting; Figure and text are children of this parent */
.sunday {
    display: flex;
}

/* Styling the description of painting two */
.sundayText {
    width: 41%;
    margin: 1%;
}

/* Setting float and postion properties for the figure caption */
.sundayFigCap {
    width: 18.5em;
    height: auto;
    position: absolute;
    left: 10%;
    bottom: 14.4em;
}

/* This is the styling properties for the second painting; Figure and text are children of this parent */
.nighthawk {
    display: flex;
}

/* Making the image appear to the left for painting two */
.nighthawk figure {
    order: 2;
}

/* The text styling; making the text appear to the right of the image for painting two */
.nighthawkText {
    width: 41%;
    margin: 1%;
    order: 1;
    text-align: end;
}

/* Setting float and postion properties for the figure caption */
.nighthawkFigCap {
    width: 8.3em;
    height: auto;
    position: absolute;
    right: 10%;
    bottom: -18.1em;
}

/* Image resizing for both the paintings */
img {
    width: 100%;
}

/* common styling for the figcaptions on the page */
figcaption {
    background-color: seashell;
    border: 0.1em silver solid;
    opacity: 60%;
    font-family: 'Comfortaa', cursive;
    font-size: 0.8em;
}



/* AVAILABLE FONTS (ONLY THREE ARE BEING USED)

font-family: 'Comfortaa', cursive;

font-family: 'Lobster Two', cursive;

font-family: 'PT Sans', sans-serif;

font-family: 'Quicksand', sans-serif;
*/